{% extends "shared.html" %}
{% block main_content %}
<div id="dictionary-app" class="pure-form pure-form-aligned">
    <h1>German - English dictionary</h1>
    <form id="search-form"
        hx-get="/translate" hx-trigger="submit" hx-target="#results">
        <input type="search" id="search-input" class="pure-input-1-2" placeholder="Enter a word..."
               name="search" autocomplete="off"
            hx-get="/search"
            hx-trigger="keyup changed[search.length > 3] delay:500ms"
            hx-target="#suggestions"
            hx-indicator=".htmx-indicator"
            />
        <div id="suggestions" class="pure-menu pure-menu-scrollable"></div>
    </form>
    <div id="results"></div>
</div>
{% endblock %}

